/***** MEDIA QUERIES *****/
/* universal */
@media (max-width: 1700px) {

  html,
  body {
    font-size: 14px;
  }

  h3 {
    font-size: 27px;
  }
}

@media (max-width: 767px) {

  html,
  body {
    font-size: 12px;
  }

  h3 {
    font-size: 24px;
  }
}

/* header */
@media (max-height: 667px) {
  .header {
    padding-top: 65px;
  }
}

@media (max-width: 767px) {
  .look_more a:hover{
    color: #fff !important;
  }
}

@media (min-height: 900px) {
  .header {
    padding-top: 150px;
  }
}

@media (min-height: 1030px) {
  .header {
    padding-top: 220px;
  }
}

/* navbar */
@media (max-width: 1700px) {
  .navbar-brand{
    font-size: 21px;
  }
  .nav-item .nav-link {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .navbar-brand{
    font-size: 19px;
  }
  .nav-item .nav-link {
    font-size: 17px;
  }
}

@media (min-width: 768px) {
  .nav-item .nav-link:hover {
    background: #fff;
    color: #000 !important;
  }
}

/* aboutme */
@media (max-width: 1700px) {
  .aboutme {
    margin-top: 0px;
    margin-bottom:50px;
    padding-top: 75px;
  }

  h2 {
    font-size: 25px;
  }

  .aboutme p {
    font-size: 16px;
  }

  .aboutme img {
    width: 55%;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .aboutme img {
    width: 60%;
    margin-top: 35px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .one { /* aboutme text */
    order: 2;
    margin-left: auto;
    margin-right: auto;
  }

  .two {/* aboutme img  */
    order: 1;
    margin-left: auto;
    margin-right: auto;
  }

  .aboutme {
    padding-top: 65px;
    margin-bottom: 10px;
  }

  .aboutme img {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 40px;
  }

}

@media (max-width: 767px) {
  .aboutme {
    margin: 0 0;
    padding-top: 40px;
    padding-bottom: 50px;
  }

  h2 {
    font-size: 23px;
  }

  .aboutme p {
    font-size: 16px;
    text-align: center;
  }

  .aboutme img {
    width: 65%;
    margin-top: 0px;
    margin-bottom: 40px;
  }

  .pulse {
    margin: 0 0 !important;
  }

  .pulse:hover {
    background-color: #006E6D;
  }

  .one {
    order: 2;
  }

  .two {
    order: 1;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .two {/* aboutme img  */
    margin-left: auto;
    margin-right: auto;
  }

  .aboutme {
    margin-top: 10px;
  }
}

/* parallax */
@media (max-width: 1700px) {
  div.module.parallax {
    height: 210px;
  }
}

/* skills */
@media (max-width: 1700px) {
  .technologies img {
    height: 60px;
  }
}

@media (max-width: 767px) {
  .skills {
    padding-top: 50px !important;
    padding-bottom: 40px !important;
  }

  .technologies {
    padding: 0px 0px !important;
  }

  .technologies img {
    height: 65px;
  }

  .tech {
    margin-top: 0px !important;
  }
}

/* portfolio */
@media (max-width: 767px) {
  .portfolio {
    padding-top: 50px !important;
    padding-bottom: 20px !important;
  }

  .gallery_projects {
    margin-top: 25px !important;
  }

  .gallery img {
    width: 250px;
  }

  .gallery img:hover {
    -webkit-transform: none;
    transform: none;
  }
}

/* footer */
@media (max-width: 1700px) {
  .footer p {
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 0px;
  }
}

@media (max-width: 767px) {
  .footer p {
    font-size: 17px;
  }
}

/* social media icon bar */
@media (max-width: 1700px) {
  .icon-bar a {
    font-size: 17px;
  }
}

/* return to top */
@media (max-width: 1700px) {
  #return-to-top {
    width: 40px;
    height: 40px;
    bottom: 7px;
  }

  #return-to-top i {
    font-size: 17px;
    left: 13px;
    top: 10px;
  }
}
