/***** UNIVERSAL STYLES *****/
html,
body {
  font-family: 'Lato', sans-serif;
  font-size: 17px;
}

h2 {
  font-size: 30px;
}

a {
  outline: none;
}

.line {
  border-bottom: 2px solid #000;
}

/***** HEADER STYLE *****/
.header {
  background-image: url(img/header_background/header_bg.jpg);
  padding-top: 80px;
  padding-bottom: 140px;
  color: #fff;
  min-height: 100vh;
}

h1 {
  font-size: 3.5rem;
}

.header p {
  font-size: 2rem;
}

.contact-top {
  font-size: 1.4rem;
}

.contact-top a {
  color: #fff !important;
}

.look_more a {
  font-size: 1.4rem;
  color: #fff !important;
}

.look_more a:hover {
  color: #FF0000 !important;
}

.fa-hand-point-down {
  margin-top: 25px;
  font-size: 3.1rem;
}

/***** NAVBAR STYLE *****/
.navbar {
  background-color: #005960;
}

.navbar-toggler {
  outline: none !important;
}

.nav-item .nav-link {
  color: #fff !important;
  font-size: 20px;
}

.navbar-brand {
  font-size: 23px;
}

.sticky-top {
  z-index: 2015;
}

/***** ABOUTME STYLE *****/
.aboutme {
  margin: 40px 0;
  padding: 100px 0;
}

.aboutme p {
  font-size: 17px;
  text-align: justify;
  padding: 0 10px;
}

.aboutme img {
  width: 80%;
  height: auto;
  padding: 20px 0;
  margin-bottom: 20px;
  border-radius: 50%;
}

.pulse {
  background-color: #006E6D;
  color: white !important;
  font-size: 16px;
  box-shadow: none !important;
}

.pulse:hover {
  background-color: #00A591;
}

/***** PARALLAX STYLE *****/
div.container.parallax {
  max-width: 1000px;
  margin: 0 auto;
}

div.module.parallax {
  height: 250px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

div.module.parallax-1 {
  background-image: url(img/parallax/code.jpg);
}

/***** SKILLS STYLE *****/
.skills {
  background-color: #F0EDE5;
  padding: 80px 0;
}

.technologies img {
  width: auto;
  height: 80px;
}

/***** PORTFOLIO STYLE *****/
.portfolio {
  background-color: #fff;
  padding: 80px 0;
}

.gallery img {
  width: 300px;
  height: auto;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.gallery img:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  z-index: 20;
}

/***** CONTACT STYLE *****/
.contact {
  background-color: #F0EDE5;
}

/***** FOOTER STYLE *****/
.footer {
  background-color: #005960;
}

.footer p {
  font-size: 19px;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 10px;
}

/***** SOCIAL MEDIA ICON-BAR STYLE *****/
.icon-bar {
  position: fixed;
  z-index: 2020;
  top: 44%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: #fff !important;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: #000;
  color: #fff;
}

.linkedin {
  background: #007bb5;
  color: #fff;
}

.github {
  background: #808080;
  color: #fff;
}

/***** RETURN TO TOP STYLE *****/
#return-to-top {
  position: fixed;
  z-index: 10;
  bottom: 20px;
  right: 20px;
  background: #000;
  background: rgba(0, 0, 0, 0.6);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  z-index: 10;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#return-to-top:hover {
  background: rgba(0, 0, 0, 0.9);
  z-index: 30;
}

#return-to-top:hover i {
  color: #fff;
  z-index: 30;
}
