/***** MEDIA QUERIES *****/
/* universal */
@media (max-width: 900px) {

  html,
  body {
    font-size: 15px;
  }
}

@media (max-width: 767px) {

  html,
  body {
    font-size: 12px;
  }

  h3 {
    font-size: 24px;
  }
}

/* header */
@media (max-width: 767px) {
  .look_more a:hover{
    color: #fff !important;
  }
}

@media (max-height: 667px) {
  .header {
    padding-top: 55px;
  }
}

@media (min-height: 900px) {
  .header {
    padding-top: 120px;
  }
}

@media (min-height: 980px) {
  .header {
    padding-top: 160px;
  }
}

@media (min-height: 1030px) {
  .header {
    padding-top: 220px;
  }
}

/* navbar */
@media (min-width: 768px) {
  .nav-item .nav-link:hover {
    background: #fff;
    color: #000 !important;
  }
}

@media (max-width: 767px) {
  .navbar-brand{
    font-size: 19px;
  }
  .nav-item .nav-link {
    font-size: 17px;
  }
}

/* aboutme */
@media (max-width: 767px) {
  .aboutme {
    margin: 0 0;
    padding-top: 40px;
    padding-bottom: 50px;
  }

  h2 {
    font-size: 23px;
  }

  .aboutme p {
    font-size: 16px;
  }

  .aboutme img {
    width: 65%;
    margin-top: 0px;
    margin-bottom: 40px;
  }

  .pulse {
    margin: 0 0 !important;
  }

  .pulse:hover {
    background-color: #006E6D;
  }
}

@media (max-width: 767px) {
  .one {
    order: 2;
  }

  .two {
    order: 1;
  }
}

/* skills */
@media (max-width: 767px) {
  .skills {
    padding-top: 50px !important;
    padding-bottom: 40px !important;
  }
}

@media (max-width: 767px) {
  .technologies {
    padding: 0px 0px !important;
  }
  .technologies img {
    height: 65px;
  }

  .tech {
    margin-top: 0px !important;
  }
}

/* portfolio */
@media (max-width: 767px) {
  .portfolio {
    padding-top: 50px !important;
    padding-bottom: 20px !important;
  }
}

@media (max-width: 767px) {
  .gallery_projects {
    margin-top: 25px !important;
  }

  .gallery img {
    width: 250px;
  }

  .gallery img:hover {
    -webkit-transform: none;
    transform: none;
  }
}

/* footer */
@media (max-width: 767px) {
  .footer p {
    font-size: 17px;
  }
}
