#header {
  background-image: url(tło.jpg);
  padding-top: 80px;
  padding-bottom: 140px;
  color: white;
  min-height: 100vh;
  width: 100%;
}

html {
  font-size: 17px;
}

@media (max-width: 900px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 13px;
  }
}

body {
  font-family: 'Lato', sans-serif;
  min-height: 100vh;
}

a {
  outline: none;
}

.navbar {
  background-color: #1700bb !important;
}

.nav-item .nav-link {
  color: white !important;
  font-size: 20px;
}

.nav-item .nav-link:hover {
  background: black;
}

#aboutme img {
  width: 80%;
  height: auto;
  padding: 20px 0;
  border-radius: 50%;
}

h1 {
  font-size: 3.5rem;
}

.scroll p {
  font-size: 2rem;
}

.contact-top {
  font-size: 1.4rem;
}

.fa-hand-point-down {
  margin-top: 25px;
  font-size: 3vmin;
}

.more a {
  font-size: 1.4rem;
  color: white !important ;
}

.more a:hover {
  color: red !important ;
}

.more a:link {
  cecha: wartość
}

.more a:visited {
  cecha: wartość
}

.more a:hover {
  cecha: wartość
}

.more a:active {
  cecha: wartość
}

.contact-top a {
  color: white !important;
}


.navbar-brand {
  font-size: 23px;
}

h2,
h4,
h5,
h6 {
  font-size: 30px;
}

#aboutme {
  margin: 40px 0;
  padding: 60px 0;
}

h3 {
  font-size: 20px;
}

#skills {
  background-color: grey;
  padding: 80px 0;
}

.tech img {
  width: auto;
  height: 90px;
}

@media (max-width: 768px) {
  .tech {
    padding: 0px 0px !important;
  }
}

.line {
  border-bottom: 2px solid black;
}

.progress {
  height: 20px;
}

.briefcase {
  padding: 5px !important;
}

.thumbtack {
  margin-top: 40px;
}

.gallery img {
  width: 100%;
  height: 118px;
}

#portfolio {
  background-color: white;
  padding: 80px 0;
}

.mfp-img {
  max-height: 800px !important;
}

.gallery img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.gallery img:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  z-index: 1;
}

#contact {
  background-color: grey;
}

#footer {
  background-color: black;
}

#footer p {
  font-size: 20px;
  color: white;
  padding-top: 20px;
  padding-bottom: 10px;
}

.icon-bar {
  position: fixed;
  z-index: 2000;
  top: 44%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white !important ;
  font-size: 20px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: #000;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.github {
  background: grey;
  color: white;
}

#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.6);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#return-to-top:hover {
  background: rgba(0, 0, 0, 0.9);
}

#return-to-top:hover i {
  color: #fff;

}

div.container.parallax {
  max-width: 1000px;
  margin: 0 auto;
}

section.module.parallax {
  height: 250px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

section.module.parallax-1 {
  background-image: url(tłoparallax.png);
}

@media only screen and (max-width: 767px) {

  .dwa {
    order: 2;
  }

  .jeden {
    order: 1;
  }

  .trzy {
    order: 3;
  }

}
